@font-face {
  font-family: "Arial";
  src: url(../../assets/fonts/arial/ArialMT.woff2) format("woff2"),
    url(../../assets/fonts/arial/ArialMT.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url(../../assets/fonts/arial/Arial-ItalicMT.woff2) format("woff2"),
    url(../../assets/fonts/arial/Arial-ItalicMT.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url(../../assets/fonts/georgia/Georgia-Bold.woff) format("woff"),
    url(../../assets/fonts/georgia/Georgia-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
