$color-primary: #f1cdb3;
$color-light: #ffffff;
$color-dark-grey: #cdcdcd;
$color-btn: #292929;
$color-dark-l: #545454;
$color-text: #4c4c4c;
$color-background: #f6f6f6;

$content-width: 1200px;
$tablet-width: 1279px;
$mobile-big-width: 767px;
$mobile-small-width: 320px;
