.donation {
  padding: 80px 0px 100px 0px;
  background-color: $color-background;
  @include media-mobile {
    padding: 42px 0px 42px 0px;
  }
}

.donation-container {
  @include flexcontainer(3rem, center);
  @include media-tablet {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.donation-image {
  padding-top: 5px;
  @include media-tablet {
    width: 505px;
    padding: 0px;
  }
  @include media-mobile {
    width: 260px;
  }
}

.donation-card {
  max-width: 380px;
  @include media-mobile {
    text-align: center;
  }
}

.donation-title {
  max-width: 30rem;
  margin-bottom: 25px;
  @include media-mobile {
    margin: auto;
  }
  @include media-mobilesmall {
    max-width: 210px;
  }
  @include media-tablet {
    margin-bottom: 20px;
  }
}

.donation-subtitle {
  margin-bottom: 20px;
  @include media-mobile {
    letter-spacing: 0;
  }
  @include media-mobilesmall {
    margin-bottom: 20px;
  }
}

.cards-ico {
  display: inline-block;
  background-image: url(../../../assets/icons/creditcard.svg);
  width: 30px;
  height: 23px;
  margin-right: 1.5rem;
}

.cards-num {
  @include font(2rem, 0.06em);
  color: $color-dark-l;
  line-height: 115%;
  @include media-mobile {
    @include font(1.5rem, 0.06em);
  }
}

.card-wrapper {
  padding: 10px 15px;
  background-color: $color-primary;
  border-radius: 9px;
  display: inline-flex;
  @extend %transition;
  &:hover {
    background-color: #fddcc4;
  }
}

.donation-discription {
  margin-top: 20px;
  @include font(1.2rem, 0em);
  font-style: italic;
  line-height: 18px;
  color: #b2b2b2;
  @include media-tablet {
    margin-bottom: 60px;
  }
  @include media-mobile {
    text-align: justify;
    max-width: 280px;
  }
}
